services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: exnaton-challenge
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
